---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
---
apiVersion: ome.io/v1beta1
kind: InferenceService
metadata:
  name: {{ isvc_name }}
  namespace: {{ namespace }}
  labels:
    autotuner.io/task: "{{ task_name }}"
    autotuner.io/experiment-id: "{{ experiment_id }}"
spec:
  model:
    name: {{ model_name }}
  runtime:
    name: {{ runtime_name }}
    apiGroup: ome.io
    kind: ClusterServingRuntime
  engine:
    minReplicas: 1
    maxReplicas: 1
    runner:
      name: ome-container
      resources:
        limits:
          nvidia.com/gpu: {{ params.get('tpsize', params.get('tp_size', params.get('tp-size', 1))) }}
        requests:
          nvidia.com/gpu: {{ params.get('tpsize', params.get('tp_size', params.get('tp-size', 1))) }}
